
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <!-- Blog Post 1 -->
  <article>
      <h3 class="title-bg"><a href="#">A subject that is beautiful in itself</a></h3>
      <div class="post-content">

          <div class="post-body">
            <blockquote>
                 Tạo dự án
            </blockquote>
              <p class="well">Tại project code ta chọn <strong rel="tooltip"> Git Bash Here </strong>
                  <img src="img/gallery/1.png" alt="Post Thumb">

                  Hoặc dùng <strong rel="tooltip">Git CMD </strong>
                    <br>
                      $ F:
                    <br>
                      $ F:\> cd F:\Tutorial\TutorialNodejs

              </p>

             <p> Tắt các phần mềm gõ tiếng việt có dấu như <strong>Unikey </strong>tránh gặp lỗi không khởi tạo được <strong> Aborted </strong></p>
             <p> Dùng câu lệnh</p>
               <p class="well">$ npm init</p>
               <p> name : viết thường, không dấu, không có khoảng trắng, enter các bước tiếp theo
                 <img src="img/gallery/2.png" alt="Post Thumb">
                 Sau khi tạo xong sẽ có 1 file packaged.json trong project
               </p>
             <blockquote>
                  Tạo thư mục trong project
             </blockquote>
                  <p class="well">- models<br>
                                  &nbsp;&nbsp;&nbsp;-- database.js <br>
                                  - public<br>
                                  &nbsp;&nbsp;&nbsp;-- css<br>
                                  &nbsp;&nbsp;&nbsp;-- fonts<br>
                                  &nbsp;&nbsp;&nbsp;-- img<br>
                                  &nbsp;&nbsp;&nbsp;-- js<br>
                                  - routes<br>
                                  &nbsp;&nbsp;&nbsp;-- router.js<br>
                                  --view<br>
                                  &nbsp;&nbsp;&nbsp;-- partials<br>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- header.ejs<br>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- footer.ejs<br>
                                  &nbsp;&nbsp;&nbsp;-- pages<br>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- home.ejs<br>

                  </p>
             <p>
               	Thư mục models chứa file kết nối cơ sở dữ liệu<br>
               	Thư mục puclic chứa file css,javascripts,fonts<br>
               	Thư mục router chứa file contronller điều hướng dữ liệu<br>
               	Thư mục views chứa các trang hiển thị<br>

             </p>
             <blockquote>
                  Sử dụng Atom để lập trình
             </blockquote>
             <p>Mở project </p>
             <img src="img/gallery/3.png" alt="Post Thumb">
             <p>Thư mục mới tạo chỉ có file package.json<br>
                Tạo các thư mục trong mục 2.tạo thư mục code<br>
                Tạo file app.js<br>
             </p>
              <img src="img/gallery/4.png" alt="Post Thumb">
          </div>
      </div>
  </article>
</body>
</html>
