
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <!-- Blog Content
    ================================================== -->
            <!-- Blog Post 1 -->
            <article>
                <h3 class="title-bg"><a href="#">Tulorial node js bài 2</a></h3>
                <div class="post-content">

                    <div class="post-body">
											<blockquote>
													 <strong>Làm một website đơn giản sử dụng layout</strong>
											</blockquote>
											<p class="well">
												 Layout được sử đụng để không làm thay đổi những phần dùng chung như header,footer
											</p>
											<blockquote>Tại thư mục partials tạo 2 file header.ejs và footer.ejs</blockquote>
											<strong>header.ejs</strong>
                        <p class="well">
													 <img src="img/gallery/post-img-1.jpg" alt="Post Thumb">
												</p>
											<strong>footer.ejs</strong>
												<p class="well">
													 <img src="img/gallery/post-img-1.jpg" alt="Post Thumb">
												</p>
											<blockquote>Tại thư mục pages tạo 2 file home.ejs và file layout.ejs</blockquote>
											<strong>home.ejs</strong>
                        <p class="well">
													 <img src="img/gallery/post-img-1.jpg" alt="Post Thumb">
												</p>
											<strong>layout.ejs</strong>
												<p class="well">
													 <img src="img/gallery/post-img-1.jpg" alt="Post Thumb">
												</p>
                  		<blockquote>Kết quả ta được một trang cơ bản</blockquote>
											<p class="well">
												 <img src="img/gallery/post-img-1.jpg" alt="Post Thumb">
											</p>
                    </div>
                </div>
            </article>
</body>
</html>
