
<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
            <!-- Blog Post 1 -->
            <article>
                <h3 class="title-bg"><a href="#">Tulorial node js bài 3</a></h3>
                <div class="post-content">

                    <div class="post-body">
                      <blockquote>
                           <strong>Làm một website sử dụng template</strong>
                      </blockquote>
                      <p class="well">
                         Các bạn vào trang <a href="http://www.free-css.com/free-css-templates">http://www.free-css.com/free-css-templates</a> để chọn mẫu thích hợp, trong loạt bài Tutorials này
                         tôi sử dụng template <a href="http://www.free-css.com/free-css-templates/page210/piccolo">Picolo</a>
                         tại địa chỉ <a href="http://www.free-css.com/free-css-templates/page210/piccolo">http://www.free-css.com/free-css-templates/page210/piccolo</a>
                      </p>
                      <blockquote>Giải nén thư mục tải về, copy các file thư viện <strong>css,fonts,img,js</strong> vào thư mục public của <strong>project</strong></blockquote>
                        <p class="well">
                           <img src="img/gallery/12.png" alt="Post Thumb">
                        </p>
                      <blockquote>Chỉnh sửa 2 file header.ejs và footer.ejs theo template</blockquote>
                      <strong>header.ejs</strong>
                        <p class="well">
                          Trong <strong>Picolo template</strong> header gồm thanh menu
                           <img src="img/gallery/14.png" alt="Post Thumb">
                           <img src="img/gallery/15.png" alt="Post Thumb">
                           <img src="img/gallery/6.png" alt="Post Thumb">
                        </p>
                      <strong>footer.ejs</strong>
                        <p class="well">
                           <img src="img/gallery/13.png" alt="Post Thumb">
                        </p>
                      <blockquote>Ta tạo một trang mới là <strong>page-contact.ejs<strong> copy code trong teplate picolo bỏ các phần chung
                                  header,footer
                      </blockquote>
                      <p class="well">
                         <img src="img/gallery/9.png" alt="Post Thumb">
                      </p>
                      <blockquote>Tạo file <strong>page_contact.js</strong> trong router</blockquote>
                      <p class="well">
                         <img src="img/gallery/10.png" alt="Post Thumb">
                      </p>
                      <blockquote>Thêm cấu hình trong file <strong>app.js</strong></blockquote>
                      <p class="well">
                         <img src="img/gallery/11.png" alt="Post Thumb">
                      </p>
                      <blockquote>Chỉnh sửa đường dẫn trong file <strong>header.ejs</strong></blockquote>
                      <p class="well">
                         <img src="img/gallery/16.png" alt="Post Thumb">
                      </p>
                      <blockquote>Reset server <strong>node app.js</strong></blockquote>
                      <p class="well">
                        Kết quả
                         <img src="img/gallery/8.png" alt="Post Thumb">
                      </p>
                    </div>
                </div>
            </article>
</body>
</html>
